body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.8em;
}

a {
  color: green;
}

#container {
  background-color: white; }

#home {
  position: relative;
  top: -8px;
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px 60px;
  min-height: calc(100vh - 250px); }

/* Header */
#header {
  position: relative;
  text-align: center;
  height: 200px;
  background-color: white;
  border-bottom: 1px solid black;
  box-shadow: 0 6px 15px black;
  z-index: 50; }

#title {
  font: 70px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding-top: 20px;
  color: black; }

#user-info {
  display: inline-block;
  color: black; }

.header-button {
  display: inline-block; }

#logout-button {
  text-decoration: none;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-style: italic;
  color: black; }

/* Login popup*/
#popup {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  top: 20%;
  left: 0;
  right: 0;
  width: 300px;
  height: 275px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 30px black;
  display: none;
  z-index: 99; }

#cover {
  position: absolute;
  top: 0;
  background-color: black;
  min-height: 100vmax;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  display: none;
  z-index: 80; }

.form-ele {
  display: block;
  margin: 10px auto; }

#close-popup {
  float: right; }

/* note form */
#new-note-box {
  margin: 15px 0;
  text-align: center; }

#note-input {
  border: 1px solid #BD1550; 
  height: 30px;
}

.search-row-button {
  position: relative;
  top: -2px; }

/* notes */
.note-box {
  padding: 5px;
  margin: 14px; }

.note-box {
  border: 1px solid white;
}

.note-time {
  font-size: 75%; }

.note-user {
  cursor: pointer; }

.note-user,
.note-text {
  display: inline-block; }

.delete-button,
.rf-button {
  float: right; 
  border: 1px solid black;
  border-radius: 5px;
  height: 20px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: white;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black; 
}

.rf-button:hover {
  background-color: black;
  color: white;
}

/* Forms */
.no-border {
  cursor: pointer;
  border: none;
  background-color: transparent; }

.error {
  color: red;
  text-align: center; }

.input {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  height: 35px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: white;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black; }

.button:hover {
  background-color: black;
  color: white;
}

.button-sm {
  height: 25px;
}

.button-light {
  background-color: transparent;
  border: 2px solid black;
  color: black; }
